{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "OPENAI_ENDPOINT": "",
    "OPENAI_EMBEDDING_DEPLOYMENT": "",
    "OPENAI_COMPLETION_DEPLOYMENT": "",
    "OPENAI_VISION_COMPLETION_DEPLOYMENT": "",
    "DOCUMENT_INTELLIGENCE_ENDPOINT": "",
    "MANAGED_IDENTITY_CLIENT_ID": "",
    "INVOICES_STORAGE_ACCOUNT_NAME": "",
    "INVOICES_QUEUE_CONNECTION": ""
  }
}
